.index-titulo {
    text-align: center;
    margin: 4em 0 3em;
    font-size: 50px;
}

.index-titulo strong {
    color: var(--primary-color);
    text-decoration: underline;
}

.pitch-section {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 12em;
}

.pitch-titulo {
    margin-bottom: 1em;
    padding: 1em 0em;
    font-size: 25px;
    color: var(--white-color);
    background-color: var(--primary-color);
    box-shadow: var(--box-shadow);
    border-radius: 5px;
}

.pitch-video {
    border-radius: 15px;
    box-shadow: var(--box-shadow);
    height: 315px;
    width: 560px;
}