.index-titulo {
    text-align: center;
    margin: 4em 0 3em;
    font-size: 50px;
}

.index-titulo strong {
    color: var(--primary-color);
    text-decoration: underline;
}

.index-txt-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-txt, .icone {
    color: var(--primary-color);
    font-size: 20px;
    margin: 0 0.3em 3em;
}

.pitch-section {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 12em;
}

.pitch-titulo {
    margin-bottom: 1em;
    padding: 0.7em 0em;
    font-size: 25px;
    color: var(--white-color);
    background-color: var(--primary-color);
    box-shadow: var(--box-shadow);
    border-radius: 0 0 15px 15px;
}

.pitch-video {
    border-radius: 10px 10px 0 0;
    box-shadow: var(--box-shadow);
    height: 315px;
    width: 560px;
}